﻿@model IEnumerable<MyAvailability.Models.Availability>

@{
    ViewBag.Title = "Availability";
}

<h2>Availability</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FirstOrDefault().EmployeeID }) |
    @Html.ActionLink("Back", "Details",
                "Employees", new { id = Model.FirstOrDefault().EmployeeID }, null)
</p>
