﻿@model List<MyAvailability.Models.Availability>

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        <h4>Availability</h4>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => Model[0].StartTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => Model[0].EndTime)
                </th>
            </tr>

            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    @Html.HiddenFor(m => Model[i].EmployeeID)
                    @Html.HiddenFor(m => Model[i].Day)
                    <td>
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.EditorFor(model => Model[i].StartTime, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => Model[i].StartTime, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.EditorFor(model => Model[i].EndTime, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => Model[i].EndTime, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </table>

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => Model.FirstOrDefault().EmployeeID)

        @Html.HiddenFor(model => Model.FirstOrDefault().Day)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back", "Details", new { id = Model.FirstOrDefault().EmployeeID })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
