﻿@model MyAvailability.Models.Availability

<tr>
    <td>
        <div class="form-group">
            <div class="col-md-10">
                @Html.HiddenFor(m => m.EmployeeID)
                @Html.HiddenFor(m => m.Day)
                @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
                @Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
            </div>
        </div>
    </td>
</tr>